<span>IsIncome,Category,Title,LastMonth,ThisMonth,IsDone <br/></span>
@foreach (var transaction in Index.Transactions)
{
    <span>@transaction.IsIncome,@transaction.Category,@transaction.Title,@transaction.LastMonth,@transaction.ThisMonth,@transaction.IsDone<br/></span>
}

<div class="form-group">
  <textarea class="form-control" @bind="Index.Import"></textarea>
</div>

@code { [CascadingParameter] Index Index { get; set; } }